@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-page-size-a4 {
  background: white;
  display: block;
  width: 21cm;
  margin: auto;
  height: 29.7cm;
}

@layer base {
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("./font/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: "Montserrat-Light";
    src: url("./font/Montserrat-Light.ttf");
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("./font/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: "Cloud-Bold";
    src: url("./font/Cloud-Bold.ttf");
  }
  @font-face {
    font-family: "Cloud-Light";
    src: url("./font/Cloud-Light.ttf");
  }

  @font-face {
    font-family: "NotoSansThai-VariableFont";
    src: url('./fonts/NotoSansThai-VariableFont.ttf');
  }
}
